.modal {
	position: fixed;
	left: 20%;
	right: 20%;
	top: 100px;
	bottom: 100px;

	overflow: auto;
	padding: 60px;
	background: #ffffff;
	box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
	border-radius: 7px;

	z-index: 1000;
}
