.leftBorder {
	width: 3px;
	min-width: 3px;
	display: flex;
	flex-flow: column nowrap;
}

/* .leftBorder > svg {
	height: 100%;
	width: 3px;
	min-width: 3px;
} */

.divBorder {
	width: 3px;
	min-width: 3px;
	height: 100%;
	background-color: var(--greyD9);
}

.divKarma {
	width: 0;
	margin-left: -3px;
	padding-bottom: 20px;
}

.commentMain {
	/* border: 1px dashed red; */
	display: flex;
	padding-top: 27px;
}

.commentGroup {
	/* border: 1px dashed green; */
	/* padding-bottom: 20px; */
	padding-top: 6px;
}
.commentItem {
	/* display: flex; */
	padding-left: 30px;
}

.commentText {
	display: block;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: var(--grey33);
}

.commentChild {
	padding-left: 30px;
}
